.img-brand {
    width: 24px;
    height: 24px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
    font-style: italic;
}

.pixelated-image-contain {
    object-fit: contain;
    image-rendering: pixelated;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    margin: 0;
}

#main {
    flex: 1; /* Utilise tout l'espace disponible sauf celui occupé par le footer */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}